name: CI

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          lfs: true

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Run lint aggregator
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          lfs: true

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Verify dependencies and build application
        run: go mod verify && go build

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          lfs: true

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Formatting
        run: |
          go install mvdan.cc/gofumpt@latest
          if [[ $(gofumpt -l .) ]]; then
            printf "Format error in the following file(s).\n"
            gofumpt -l .
          fi

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          lfs: true

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Test
        run: go test -v ./...
